.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

body {
    background-color: #008351;
    margin: 0 0 50px;
    /* bottom = footer height */
    padding: 25px;
    min-height: 100%;
}


html {
    position: relative;
    min-height: 100%;
}

.footer {
    left: 0;
    bottom: 0;

    background-color: #f65c64;
    color: #008351;
    text-align: center;
    font-size: 17px;
    position: absolute;

    height: 50px;
    width: 100%;
    overflow: hidden;
}

.gifbanner {
    background:url('../imagenes/stupid_love.gif') repeat;
    background-size: 30px;
    height: 30px;
}
  
.topnav {
    text-align: center;
    padding: 5px 14px;
}
.topnav a {
    color: #008351;
    padding: 5px 14px;
    background-color: #f65c64 ;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #008351;
    color: #f65c64;
    border: 2px solid #f65c64;
}